# Create these values in https://secure.backblaze.com/
B2_BUCKET_NAME=your-bucket-name
B2_APPLICATION_KEY_ID=your-key-id
B2_APPLICATION_KEY=your-application-key
B2_OBJECT_PREFIX=magnet-downloads
DOWNLOAD_DIR=/app/downloads
